<div class="main">

  <div class="details">

    <h3>Graham Ramsey</h3>

    <%= image_tag "graham-speaking-2.png" %>

    <p>
      I am a humanitarian, Apple fanatic, and chronic autodidact.<br/>
      I am passionate about using open source technologies to improve education and healthcare around the world.
    </p>

    <p>This summer, I will be interning at <%= link_to 'Watsi', 'https://watsi.org/', target: "_blank" %>, a nonprofit healthcare startup
    that I am super excited about!</p>

    <p>
      Right now, I am managing
      <%= link_to "Grapefruit", "http://grapefruit.link", target: "_blank" %>,
      the free education platform for everyone.
      The project was sponsored by Red Hat to present at <%= link_to 'SIGCSE 2015', 'http://sigcse2015.sigcse.org/', target: "_blank" %>.
    </p>

    <p>
      Drop me a line!
        <span class="contact">g at graham dot li</span>
        <span class="contact"><%= link_to '@element119', 'https://twitter.com/element119', target: "_blank" %></span>
    </p>

    <%= link_to "Résumé", asset_path("resume.pdf"), class: "button", target: "_blank" %>
    <%= link_to "Grapefruit Project &rarr;".html_safe, "http://grapefruit.link", class: "button success", target: "_blank" %>

    <p class="small center">
      Copyright <span class="copyleft">&copy;</span> <%= Time.now.year %> Graham Ramsey<br/>
      <span class="jacob">4 8 15 16 23 42</span>
    </p>

  </div>


</div>
